# IDE & System
.idea/
*.iml
.DS_Store
.gradle/
build/
captures/
.externalNativeBuild/
.cxx/
local.properties

# Kotlin / Multiplatform
.kotlin/
kotlin-js-store/
**/build/

# Android Specific
*.apk
*.aar
*.bundle
/captures/

# iOS / Xcode
*.xcodeproj/xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/
*.xcworkspace/xcuserdata/
**/DerivedData/
**/build/
**/Pods/
**/.pvm/

# Compose Multiplatform generated resources
**/generated/

# Secretos y Configuración local
.env
local.properties
